<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpProtocol>
             <customHeaders>
               <remove name="X-Powered-By" />
               <add name="Access-Control-Allow-Origin" value="*" />
               <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, PATCH, DELETE" />
               <add name="Access-Control-Allow-Headers" value="Api-Id, Content-Type, Access-Token, Accept, Request-Date, Request-Signature, Request-URL, Target-Branch" />
             </customHeaders>
       </httpProtocol>
        <security>
            <requestFiltering>
                <hiddenSegments>
                    <add segment="aurora" />
                    <add segment="Slim" />
                </hiddenSegments>
                <verbs>
                </verbs>
            </requestFiltering>
        </security>
        <directoryBrowse enabled="false" />
        <rewrite>
            <rules>
                <rule name="Slim" stopProcessing="true">
                    <match url="^(.*)$" ignoreCase="false" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                        <add input="{URL}" matchType="Pattern" pattern="^/favicon.ico$" ignoreCase="true" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php?q={R:1}" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
            </files>
        </defaultDocument>
        <handlers accessPolicy="Read, Execute, Script">
            <clear />
            <add name="php-5.5.11" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\Program Files (x86)\php-5.5.11\php-cgi.exe" resourceType="Either" requireAccess="None" />
            <add name="favicon" path="*.ico" verb="GET" modules="StaticFileModule" resourceType="File" requireAccess="Script" />
            <add name="styles" path="*.css" verb="GET" modules="StaticFileModule" resourceType="File" requireAccess="Script" />
			<add name="files" path="uploaded_files/*" verb="GET" modules="StaticFileModule" resourceType="File" requireAccess="Script" />
            <add name="error" path="errors.html" verb="GET" modules="StaticFileModule" resourceType="File" requireAccess="Script" />
            <add name="documentation" path="documentation.html" verb="GET" modules="StaticFileModule" resourceType="File" requireAccess="Script" />
        </handlers>
		<staticContent>
            <mimeMap fileExtension=".*" mimeType="application/octet-stream" />
		</staticContent>
    </system.webServer>
</configuration>